---
layout: default
---
<nav id="sub">
  <header>Blog</header>
  <ul>
    {% assign date = '' %}
    {% for post in site.categories.blog %}
    {% assign current_date = post.date | date: "%Y" %}
    {% if current_date != date %}
    <li><a href="#y{{ current_date }}">{{ current_date }}</a></li>
    {% assign date = current_date %} 
    {% endif %}
    {% endfor %}
  </ul>
</nav>
<div id="content">
  <ul class="posts">
    {% assign date = '' %}
    {% for post in site.categories.blog %}
    {% assign current_date = post.date | date: "%Y" %}
    {% if current_date != date %}
    <li id="y{{current_date}}" class="year-heading">{{ current_date }}</li>
    {% assign date = current_date %} 
    {% endif %}
    <li class="post">
      <div class="title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></div>
      <div class="meta">
	<span class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></span> —
	<span class="tag">{{post.tags | join: ", "}}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
